<div class="container">
  <div class="header flex flex-center">
    <h1>Dashboard</h1>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>My Cars:</p>
      <div class="scrolling-wrapper-flexbox">
        <ul class="list-unstyled d-flex flex-nowrap">
          <li *ngFor="let car of cars" class="mr-3">
            <div class="card car-card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4">
                    <img [src]="car.picture_url" alt="car" class="img-fluid">
                  </div>
                  <div class="col-md-8">
                    <h2>{{ car.brand }}</h2>
                    <span>{{ car.model}}</span>
                    <p class="tag">{{ car.type }}</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
